.admin-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
        margin-top: 20px;
    }

    .admin-form {
        padding: 30px 0;

        input {
            max-width: 300px;
        }
    }
}