.category-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}