.footer {
    margin-top: 40px;
    padding: 30px 20px;
    color: white;
    background-color: #000;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}